body{
    font-family: Arial;
    background-color: #0e2136;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
h1,#task-form{
    z-index: 2;
    filter:brightness(10px);
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 400px;
    aspect-ratio: 1/1;
    background-color: #142d4a;
    border-radius: 40px;
    position:relative;
}

.container::before,.container::after{
    content: "";
    position: absolute;
    /* inset: -3px; */
    background: conic-gradient(
    from 0deg at center,
    #00c3ff,
    #4d0199,
    #6300c6,
    #009dcd,
    red,
    pink,
    yellow);
    height: 100%;
    width: 100%;
    border-radius: inherit;
    z-index: -2;
    padding: 2px;
    animation : autorotate 6s linear infinite;
}
@keyframes autorotate {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.container::after{

    filter: blur(5px);
}
